<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login - RNDM | Another RaNDoM page</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="Login_CSS.css">
  </head>
  <body>

    <div class="PageLimiter">
      <div class="PageContainer">
        <div class="LoginContainer">
          <span class="Login-Title">SING IN!</span>
          <form class="FormLogin" action="" method="post">

            <div class="LoginValidation" data-validate ="User is required">
              <input class="LoginInput" type="text" name="Username" placeholder="User">
              <span class="IconsLogin" data-placeholder="&#xe82a;"></span>
            </div>

            <div class="LoginValidation" data-validate ="Password is required">
              <input class="LoginInput" type="password" name="Password" placeholder="Password">
              <span class="InconsLogin" data-placeholder="&#xe80f;"></span>
            </div>

            <div class="buttonLoginContainer">
              <button class="loginButton">SIGN IN</button>
            </div>

            <div class="RegisterDiv">
              New to RNDM? <a href="#"><span class="RegisterSpan">SING UP</span></a>
            </div>

          </form>
        </div>
      </div>
    </div>

  </body>
</html>
