<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/font-awesome-4.0.3/css/font-awesome.min.css}">

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" th:href="@{/rs-plugin/css/settings.css}" media="screen" />

</head>
<body>

<!--Comment without father-->
    <div th:fragment="singleComment">
        <div class="post">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img src="images/avatar2.jpg" alt="" />
                        <div class="status red">&nbsp;</div>
                    </div>

                    <div class="icons">
                        <img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />
                    </div>
                </div>
                <div class="posttext pull-left">
                    <p th:text="${comment.getContent()}"></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="postinfobot">

                <div class="prev pull-left">
                    <a href="#"><i class="fa fa-reply"></i></a>
                </div>

                <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <span th:text="${comment.getDate()}"></span></div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!--Comment without father-->

<!--Comment with father-->
    <div th:fragment="fatherComment">
        <div class="post">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img src="images/avatar3.jpg" alt="" />
                        <div class="status red">&nbsp;</div>
                    </div>

                    <div class="icons">
                        <img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />
                    </div>
                </div>
                <div class="posttext pull-left">

                    <blockquote>
                        <span class="original">Original Posted by <span th:text="${comment.getFatherUser()}"></span></span>
                        <span th:text="${comment.getFatherContent()}"></span>
                        </blockquote>
                        <p th:text="${comment.getContent()}"></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <div class="postinfobot">

                <div class="prev pull-left">
                    <a href="#"><i class="fa fa-reply"></i></a>
                </div>

                <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <span th:text="${comment.getDate()}"></span></div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
<!--Comment with father-->

<!--Top Threads-->
    <div class="sidebarblock" th:fragment="topThreads">

        <h3><i class="fas fa-fire"></i> TOP THREADS</h3>
        <div class="divline"></div>
        <div class="blocktxt">
            <ul class="cats">
                <li th:each="Votes : ${TopThreads}"><a th:href="'/Thread/'+ ${Votes.getThreadID()}" th:title="${Votes.getThreadUser()}"><span th:text="${Votes.getTitleThread()}"></span>
                    <span class="badge pull-right" th:text="${Votes.getUpVotes()}"></span></a></li>
            </ul>
        </div>
    </div>


<!-- Write comment-->
    <div class="post"  th:fragment="writeCommentThread"><!-- Style="Display:none;" -->
        <form action="#" class="form" method="post" th:object="${newComment}">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img src="images/avatar4.jpg" alt="" />
                        <div class="status red">&nbsp;</div>
                    </div>

                    <div class="icons">
                        <img src="images/icon3.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />
                    </div>
                    <span th:field="*{thread}" style="display: none"><span th:text="${threadByID.getID()}"></span></span>
                    <span th:field="*{username}" style="display: none"><span th:text="${username}"></span></span>
                </div>
                <div class="posttext pull-left">
                    <div class="textwraper">
                        <div class="postreply">Comment: </div>
                        <textarea name="reply" id="reply" placeholder="Type your comment here" th:field="*{content}"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="postinfobot">

                <div class="pull-right postreply">
                    <div class="pull-left"><button type="submit" class="btn btn-primary">Comment</button></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

</body>
</html>