<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/font-awesome-4.0.3/css/font-awesome.min.css}">

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" th:href="@{/rs-plugin/css/settings.css}" media="screen" />

</head>
<body>

<!--Index Thread-->
<div th:fragment="thread">
    <div class="post">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{${'../' + Users.getImage(post.getUsername())}}" alt="" th:title="${post.getUsername()}" />

                    <div th:if="${Users.getIsConnected(post.getUsername()) == 1}"><div class="status green">&nbsp;</div> </div>
                    <div th:if="${Users.getIsConnected(post.getUsername()) == 0}"><div class="status red">&nbsp;</div> </div>
                </div>

                <div class="icons">
                    <div th:if="${Users.isPrivate(post.getUsername())}">
                        <img th:src="@{../images/premium.png}" alt="" />
                    </div>
                    <div th:if="${Users.isModerator(post.getUsername())}">
                        <img th:src="@{../images/mod.png}" alt="" />
                    </div>
                </div>
            </div>

            <div class="posttext pull-left">
                <h2><a th:href="'/Thread/'+ ${post.getID()}" th:text="${post.getTitle()}" ></a></h2>
                <p th:text="${#strings.abbreviate(post.html2text(post.getText()),143)}"></p>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
            <div class="comments">
                <div class="commentbg">
                    <span th:text="${Comment.getCount(post.getID())}"></span>
                    <div class="mark"></div>
                </div>
            </div>
            <div class="views"><i class="fa fa-thumbs-o-up"></i> <span th:text="${post.getUpvotes()}"></span></div>
            <div class="time"><i class="fa fa-clock-o"></i> <span th:text="${post.timeSinceCreation()}"></span></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--Index Thread-->

<!--Comment without father-->
<div th:fragment="singleComment">
    <div class="post">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{${'../' + Users.getImage(comment.getCommentuser())}}" alt="" th:title="${comment.getCommentuser()}"/>
                    <div th:if="${Users.getIsConnected(comment.getCommentuser())== 1}"><div class="status green">&nbsp;</div> </div>
                    <div th:if="${Users.getIsConnected(comment.getCommentuser()) == 0}"><div class="status red">&nbsp;</div> </div>
                </div>

                <div class="icons">
                    <div th:if="${Users.isPrivate(comment.getCommentuser())}">
                        <img th:src="@{../images/premium.png}" alt="" />
                    </div>
                    <div th:if="${Users.isModerator(comment.getCommentuser())}">
                        <img th:src="@{../images/mod.png}" alt="" />
                    </div>
                </div>
            </div>
            <div class="posttext pull-left">
                <p th:text="${comment.getContent()}"></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="prev pull-left">
                <a th:href="'/Thread/'+${threadByID.getID()}+'/Comment/'+${comment.getID()}"><i class="fa fa-reply"></i></a>
            </div>

            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <span th:text="${comment.getDate()}"></span></div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Comment without father-->

<!--Comment with father-->
<div th:fragment="fatherComment">
    <div class="post">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{${'../' + Users.getImage(comment.getCommentuser())}}" alt="" th:title="${comment.getCommentuser()}" />
                    <div th:if="${Users.getIsConnected(comment.getCommentuser()) == 1}"><div class="status green">&nbsp;</div> </div>
                    <div th:if="${Users.getIsConnected(comment.getCommentuser())  == 0}"><div class="status red">&nbsp;</div> </div>
                </div>
                <div class="icons">
                    <div th:if="${Users.isPrivate(comment.getCommentuser())}">
                        <img th:src="@{../images/premium.png}" alt="" />
                    </div>
                    <div th:if="${Users.isModerator(comment.getCommentuser())}">
                        <img th:src="@{../images/mod.png}" alt="" />
                    </div>
                </div>
            </div>
            <div class="posttext pull-left">
                <blockquote>
                    <span class="original">Original Posted by <span th:text="${comment.getFatherUser()}"></span></span>
                    <span th:text="${comment.getFatherContent()}"></span>
                </blockquote>
                <p th:text="${comment.getContent()}"></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">
            <div class="prev pull-left">
                <a th:href="'/Thread/'+${threadByID.getID()}+'/Comment/'+${comment.getID()}"><i class="fa fa-reply"></i></a>
            </div>
            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <span th:text="${comment.getDate()}"></span></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Comment with father-->

<!--Top Threads-->
<div  th:fragment="topThreads">
    <div class="sidebarblock">
        <h3><i class="fas fa-fire"></i> TOP THREADS</h3>
        <div class="divline"></div>
        <div class="blocktxt">
            <ul class="cats">
                <li th:each="Thread : ${TopThreads}"><a th:href="'/Thread/'+ ${Thread.getID()}" th:title="${Thread.getUsername()}"><span th:text="${Thread.getTitle()}"></span>
                    <span class="badge pull-right" th:text="${Thread.getUpvotes()}"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--Top Threads-->

<!--User image -->
<div th:fragment="userImage">
    <div class="sidebarblock">
        <h3><i class="fas fa-camera"></i> Profile Image</h3>
        <div class="divline"></div>
        <div class="blocktxt">
            <div class="roundedimage">
                <img th:src="@{/images/avatar.jpg}"/>
            </div>
        </div>
    </div>
</div>
<!--User image -->

<!--Weather-->
<div th:fragment="weather">
    <div class="sidebarblock m-t-200">

        <img id="icon" height="50px" width="50px"> <b><span th:text=" ${Weather.getName()} + ', ' "></span></b><span th:text="${Weather.getCountry()}"></span>
        <span th:text="${Weather.getWeather().get(0).getIcon()}" style="display: none" id="clima"></span>
        <div class="divline"></div>
        <div class="blocktxt">
            <ul class="cats">
                <li>
                    <span>Current temperature:</span>
                    <span class="badge pull-right" th:text="${Weather.getTemp()} + 'ºC'"></span>
                </li>
                <li>
                    <span>Maximum:</span>
                    <span class="badge pull-right" th:text="${Weather.getTempMax()} + 'ºC'"></span>
                </li>
                <li>
                    <span>Minimum:</span>
                    <span class="badge pull-right" th:text="${Weather.getTempMin()} + 'ºC'"></span>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--Weather-->

<!-- Write comment-->
<div th:fragment="writeCommentThread">
    <div class="post" >
        <form  class="form" method="post" action="/postComment" th:object="${newComment}">
            <div class="topwrap">
                <div class="userinfo pull-left">
                    <div class="avatar">
                        <img th:src="@{${'../' + Users.getImage(Principal.getName())}}"  alt="" />
                        <div th:if="${Users.getIsConnected(Principal.getName()) == 1}"><div class="status green">&nbsp;</div> </div>
                        <div th:if="${Users.getIsConnected(Principal.getName()) == 0}"><div class="status red">&nbsp;</div> </div>
                    </div>

                    <div class="icons">
                        <div th:if="${Users.isPrivate(Principal.getName())}">
                            <img th:src="@{images/premium.png}" alt="" />
                        </div>
                        <div th:if="${Users.isModerator(Principal.getName())}">
                            <img th:src="@{../images/mod.png}" alt="" />
                        </div>
                    </div>
                </div>

                <div   style="display: none"><input type="text"  th:value="${user}" id= "commentuser" name="commentuser" ></div>

                <div style="display: none" th:if="${CommentID != null}"><input type="text" th:value="${CommentID}" id="fatherComment" name="fatherComment" ></div>

                <div style="display: none" ><input type="text" th:value="${threadByID.getID()}" id="thread" name="thread" ></div>



                <div class="posttext pull-left">
                    <div class="textwraper">
                        <div class="postreply">Comment: </div>
                        <textarea name="reply" id="reply" placeholder="Type your comment here" th:field="*{content}"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="postinfobot">

                <div class="pull-right postreply">
                    <div class="pull-left"><button type="submit" method="post" class="btn btn-primary" >Comment</button></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
</div>
<!-- Write comment-->

<!--Category Header-->
<div th:fragment="categoryHeader">
    <div class="post">
        <div class="wrap-ut pull-left">
            <div class="userinfo pull-left">
                <div class="avatar"></div>
            </div>

            <div class="posttext pull-left">
                <h2><i class="fas fa-cat"></i>    <span th:text="${category}"></span></h2>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--Category Header-->

<!--Top Categories-->
<div th:fragment="categories">
    <div class="sidebarblock">
        <h3><i class="fas fa-fire"></i> TOP CATEGORIES</h3>
        <div class="divline"></div>
        <div class="blocktxt">
            <ul class="cats">
                <li th:each="category : ${TopCategory}"><i th:class="${Logo.getLogo(category)}"></i><a th:href="'/Category/'+ ${category}"><span id="catName" th:text="' ' + ${category}"></span>
                    <span class="badge pull-right" th:text="${Category.getCount(category)}"></span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--Top Categories-->

</body>
</html>