<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/font-awesome-4.0.3/css/font-awesome.min.css}">
    <script src="https://kit.fontawesome.com/895bf94ad8.js" crossorigin="anonymous"></script>

    <!-- CSS STYLE-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="screen" />

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" th:href="@{/rs-plugin/css/settings.css}" media="screen" />

</head>
<body>

<div th:fragment="slide">
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/images/slide.jpg}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                </li>
            </ul>
        </div>
    </div>
</div>

<!--Inside Thread-->
<div th:fragment="thread">
    <div class="post beforepagination">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{${'../' + Users.getImage(threadByID.getUsername())}}"  alt="" th:title="${threadByID.getUsername()}" />
                    <div th:if="${Users.getIsConnected(threadByID.getUsername()) == 1}"><div class="status green">&nbsp;</div> </div>
                    <div th:if="${Users.getIsConnected(threadByID.getUsername()) == 0}"><div class="status red">&nbsp;</div> </div>
                </div>

                <div class="icons">
                    <div th:if="${Users.isPrivate(threadByID.getUsername())}">
                        <img th:src="@{../images/premium.png}" alt="" />
                    </div>
                    <div th:if="${Users.isModerator(threadByID.getUsername())}">
                        <img th:src="@{../images/mod.png}" alt="" />
                    </div>
                </div>
            </div>
            <div class="posttext pull-left">
                <h2 th:text="${threadByID.getTitle()}"></h2>
                <div class="content"th:utext="${threadByID.getText()}"/>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="likeblock pull-left">
                <a th:href="'/Thread/' + ${threadByID.getID()} + '/upvote'" class="up" ><i class="fa fa-thumbs-o-up"></i><span th:text="${threadByID.getUpvotes()}"></span></a>
                <a th:href="'/Thread/' + ${threadByID.getID()} + '/downvote'" class="down"><i class="fa fa-thumbs-o-down"></i><span th:text="${threadByID.getDownvotes()}"></span></a>
            </div>

            <div class="prev pull-left">
                <a th:href="'/Thread/'+${threadByID.getID()}+'/Comment'" ><i class="fa fa-reply" id="CommentThread"></i></a>
            </div>

            <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <span th:text="${threadByID.getDate()}"></span></div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Inside Thread-->


<!--Navigation Bar not logged-->
<div th:fragment="navigation-anon">
    <div class="headernav">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo b-t-10"><a href="/"><img th:src="@{/images/logo.png}"  height="50px" width="50px" alt="" style="margin-top: 10px;"/></a></div>
                <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" >Select Category</a> <b class="caret"></b>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/">All Categories</a></li>
                            <li role="presentation" th:each="categoryName : ${Categories}" th:value="${categoryName.getName()}"><a role="menuitem" tabindex="-1" th:href="${'/Category/' + categoryName.getName()}" ><span th:text="${categoryName.getName()}"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form class="form">
                            <div class="pull-left txt"><input id="navigation" type="text" class="form-control" placeholder="Search Threads"></div>
                            <div class="pull-right"><button id = "searchButton" class="btn btn-default" type="button"  onclick="Search()" ><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                    <div class="stnt pull-left"></div>
                    <div class="env pull-left "></div>

                    <div class="avatar pull-left dropdown">
                        <a data-toggle="dropdown" href="#"><img th:src="@{/images/noreg.jpg}" alt="" /></a> <b class="caret"></b>
                        <div class="status red">&nbsp;</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/login">Sign In</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-3" href="/register">Create an account</a></li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Navigation Bar not logged-->


<!--Navigation Bar logged-->
<div th:fragment="navigation-logged">
    <div class="headernav">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img th:src="@{/images/logo.png}"  height="50px" width="50px" alt="" style="margin-top: 10px;" /></a></div>
                <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="#" >Select Category</a> <b class="caret"></b>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/">All Categories</a></li>
                            <li role="presentation" th:each="categoryName : ${Categories}" th:value="${categoryName.getName()}"><a role="menuitem" tabindex="-1" th:href="${'/Category/' + categoryName.getName()}" ><span th:text="${categoryName.getName()}"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                    <div class="wrap">
                        <form class="form">
                            <div class="pull-left txt"><input id="navigation" type="text" class="form-control" placeholder="Search Threads"></div>
                            <div class="pull-right"><button id = "searchButton" class="btn btn-default" type="button"  onclick="Search()" ><i class="fa fa-search"></i></button></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                    <div class="stnt pull-left">
                        <form action="/NewThread" method="get" class="form">
                            <button class="btn btn-primary">Start New Topic</button>
                        </form>
                    </div>
                    <div class="stnt pull-left"></div>
                    <div class="env pull-left "></div>

                    <div class="avatar pull-left dropdown" style="margin-left: 20px">
                        <a data-toggle="dropdown" href="#"><img th:src="@{${'../' + Users.getImage(Principal.getName())}}" alt="" /></a> <b class="caret"></b>
                        <div class="status green">&nbsp;</div>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile">My Profile</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-3" href="/logout">Log Out</a></li>
                            <div th:if="${!Users.isPrivate(Principal.getName())}">
                                <li role="presentation"><a role="menuitem" tabindex="-4" href="/register">Go Premium!</a></li>
                            </div>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Navigation Bar logged-->


<!--Footer-->
<div th:fragment="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img th:href="@{/images/logo.jpg}" alt=""  /></a></div>
                <div class="col-lg-8 col-xs-9 col-sm-5 ">TecnoCampus Copyrights 2019, RNDM PROJECT - Just another random place ;)</div>
            </div>
        </div>
    </footer>
</div>
<!--Footer-->

<!--Pages bar-->
<div th:fragment="pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <div class="pull-left"><a href="javascript:previousPage();" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                <div class="pull-left" >
                    <ul class="paginationforum" id="listPages">
                        <li class="hidden-xs" th:each="pagina : ${Pages}" ><a th:href="'../Page/' + ${pagina}" th:class="li + ${pagina}"><span id = "textPages" th:text="${pagina}"></span></a></li>
                    </ul>
                </div>
                <div class="pull-left"><a href="javascript:followingPage();"  class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!--Pages bar-->

</body>
</html>