<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>RNDM :: Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet"  th:href="@{/linearicons-free/icon-font.min.css}">
	<link rel="stylesheet"  th:href="@{/css/util.css}">
	<link rel="stylesheet"  th:href="@{/css/form.css}">
	<script src="https://kit.fontawesome.com/895bf94ad8.js" crossorigin="anonymous"></script>

</head>
<body>

	<div class="limiter">
		<div class="container-login100"   style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">

				<span class="login100-form-title p-b-41">WELCOME BACK!</span>

				<form class="login100-form validate-form p-b-60 p-t-5" method="post" th:object="${userlogin}">

					<div class="wrap-input100 validate-input" id="username2" >
						<input class="input100" type="text" id="username" name="username" placeholder="User" th:field="*{username}">
						<span th:text="${badCredentials}" Style="Display:none;" class="username"></span>
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" id="password2" >
						<input class="input100" type="password" id="password" name="pass" placeholder="Password" th:field="*{password}">
						<span th:text="${badCredentials}" Style="Display:none;" class="password"></span>
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type="submit" >SING IN</button>
					</div>

					<div class="RegisterDiv p-t-20">
						Do not have an account with us?
						<a href="/register"><span class="RegisterSpan">Become a member now!</span></a>
					</div>

				</form>
			</div>

		</div>
	</div>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/login.js"></script>


</body>
</html>
